@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-sedans: #e38826;
  --color-suv: #006970;
  --color-luxury: #004241;
  --light-grey: #ffffffbf;
  --transparent-white: #f2f2f2;
}

/* basic CSS reset */
/******************************/
html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: "Lexend Deca", sans-serif;
  background-color: var(--transparent-white);
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* LAYOUT */
/******************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 5rem 0;
}

.card-component {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  overflow: hidden;
}

.cards {
  max-width: 325px;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
}

.bg--sedans {
  background-color: var(--color-sedans);
}

.bg--suvs {
  background-color: var(--color-suv);
}

.bg--luxury {
  background-color: var(--color-luxury);
}

.icons {
  margin-bottom: 0.635rem;
}

/* TEXT STYLES */
/******************************/
.lead {
  font-size: 0.9375rem;
  line-height: 25px;
  color: var(--light-grey);
}

.text-titles {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 3rem;
  color: var(--transparent-white);
}

/* BUTTON COMPONENTS */
/******************************/
.btn {
  border: 2px solid transparent;
  border-radius: 1.875rem;
  padding: 0.6875rem 1.875rem;
  background-color: var(--transparent-white);
  font-size: 0.9375rem;
  transition: 0.5s;
}

.btn:hover {
  color: var(--transparent-white);
  background-color: transparent;
  border-color: (var(--transparent-white));
}

.btn--sedans {
  color: var(--color-sedans);
}

.btn--suvs {
  color: var(--color-suv);
}

.btn--luxury {
  color: var(--color-luxury);
}

@media (min-width: 1024px) {
  .card-component {
    flex-direction: row;
  }

  .cards {
    max-width: 307px;
  }
  .btn {
    margin-top: 3.625rem;
  }
}
