@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* (paragraphs) */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--very-light-gray);
  font-size: 15px;
  color: var(--transparent-white);
}

main {
  margin: 50px 0;
}

section {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  padding: 50px;
}

.sedans {
  background-color: var(--bright-orange);
  border-radius: 15px 15px 0 0;
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 15px 15px;
}

img {
  padding: 10px 0 25px;
}

h1 {
  font-size: 2.4rem;
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
}

p {
  padding: 30px 0;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 25px;
}

button {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
}

.sedans button {
  color: var(--bright-orange);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}